Package: shmenu
Version:
Architecture: replaced in build process, see makefile
Maintainer: Owen Duffy <owen@owenduffy.net>
Depends: replaced in build process, see makefile 
Section: utils
Description: Simple menu program for shell files.
